.clase1,
.clase2,
.clase3{
  background-color:yellow;
  witdh:50%;
  height: 100px;
  padding-left: 5px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: sans-serif;
}
.clase2{
  background-color:fuchsia;
  border:1px solid black;
}

.clase3{
  text-transform: uppercase;
}
